@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/fonts/Gilroy-Regular.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy-Bold.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy-Medium.eot') format('embedded-opentype'),
    url('/fonts/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html, body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
}

.main-content {
    margin-left: 300px;
}

.left-menu .nav-item {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.left-menu span.nav-item {
    display: block;
}

.left-menu .nav-link {
    padding: 0;
    margin: 0 0 20px 0;
}

.left-menu {
    line-height: 19px;
}

.navbar-vertical.navbar-expand-md {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    overflow-y: auto;
    z-index: 100;
    font-weight: bold;
}

li li a.nav-link:before {
    content: "-";
    display: inline;
}

li li a.nav-link {
    display: inline;
}
.navbar-vertical.navbar-expand-md .navbar-brand {
    display: block;
    text-align: center;
    white-space: normal;
}

.navbar-vertical .container-fluid {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.left-menu li {
    list-style: none;
}

.left-menu ul {
    padding: 0;
}

.bg-custom{
    background: #F3F5F6;
}

.btn-light{
    background: #F3F5F6;
    border-color: #F3F5F6;
}

.left-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

[data-toggle="collapse"]:hover{
    cursor: pointer;
}

header{
    box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.08);
    z-index: 10;
    position: relative;
}
.dashed-bottom {
    border-bottom: 1px dashed;
}

.base-frame {
    min-height: 100vh;
}
li {
    transition: background-color 500ms ease-in-out;
}

.invalid {
    border-width: 1px;
    border-color: red;
}

.table thead th {
    border-top: #000000 0;
    border-bottom: 1px solid #000000;
}

.table td {
    border-top: 1px solid #767676;
    padding: .5rem;
}

.table tr th {
    border-top: 1px solid #767676;
}

.navbar-light .navbar-toggler {
    color: #767676;
    border-width: 0;
}

@media (max-width: 767px) {
    nav.navbar {
        /*position: absolute;*/
        top: 0;
        bottom: 0;
        display: block;
        max-width: none!important;
    }
    .navbar-vertical.navbar-expand-md {
        display: block;
        position: relative;
    }
    .main-content {
        margin-left: 0;
        margin-top: 0;
    }
}